
body {
	margin: 0;
	padding: 0;
	height: 100%;
	font-size:16px;
	line-height:19px;
	word-wrap: break-word;
}


#footer { padding:0; margin:0;}
#footer {clear:both;float:none;}

#container{
	margin-left: -400px !important; /*half of width to the left: always centered*/
	position:relative; left:50%;
	width: 800px;
}

#top, #bottom{
    margin-left: -400px !important; /*half of width to the left: always centered*/
	position:relative; left:50%;
	width: 800px;
}

#header {
	width: 800px;
}

#title {
	height: 17px;
}
#title #text {
	float:left;
}
#title a {
	width: 300px;
	float:none;
}

#impressum {
	font-size:11px;
	line-height:15px;
	padding: 5px;
	display: block;
}
#impressum a{
	font-size:11px;
	line-height:15px;
}

#data, #data_admin, #data_gallery {
	/*min-height: 500px;*/
	width: 790px;
	text-align: left;
	top: 0px;
	z-index: 1; /*would hide boxes of FCKeditor*/
	padding: 0em 5px 1em 5px;/* use padding instead of margin for multicolumn 
	layouts because of a really odd ie5pc bug where it sometimes relates the 
	width of an unrelated menu div to this div. i'll, uh, write about that somewhere. 
	it was hard to figure out what was causing it, so i want this note here to remind me. */
}


/*	for equal column heights:
	(http://www.positioniseverything.net/articles/onetruelayout/example/equalheight)*/

.target {
	position: absolute !important;
	display:block;
}

#data, #data_admin {
	overflow: hidden;
}

#data_gallery {
	min-height: 900px !important;
	overflow: visible;
	text-align: center;
}

#mainpane, #sidepane{
	padding-bottom: 32767px;
	margin-bottom: -32767px;
}


/* ------------------- sidepane ------------------------------- */
#sidepane {
	/*position:absolute; top:160px; left: 410px;*/
	float: right;
	width: 250px; /*(790px(data)-540px(main))*/
}
#mainpane {
    float: left;
	width: 540px;
}

#data_gallery #mainpane, #data_admin #mainpane{
	width: 100% !important;
	min-height: 500px;
	padding-bottom: 0px;
	margin-bottom: 0px;
}
#data_gallery #sidepane, #data_admin #sidepane{
	padding-bottom: 0px;
	margin-bottom: 0px;
}
#data_gallery #mainpane{
	height: 900px;
}

#sidepane #feeds #description,
#sidepane #feeds #entry,
#sidepane #intro #description, 
#sidepane #intro #entry {
	padding-left: 2px;
}

#sidepane #intro {
	margin-bottom: 10px;
}

#feeds div.entry{
	padding-bottom: 1px;
}

#feeds div.description a{
	display: block;
}
/* ----------------end sidepane ------------------------------- */

/* ------------------- show - divs ------------------------- */
div.show {
	margin-top: 1em;
	margin-left: 4px;
	width: 510px;
	padding: 0;
}

div.show_entry, div.show_entry_with_options {
	padding: 4px 1em 4px 1em;
}

.show * .title * {
	line-height:23px !important;
	min-height:23px !important;
	width: 470px;
}

div.show div.title div.value {
	font-size: 1.2em;
}

div.show div.options { 
	width: 100%;
}

div.show div.options span.whole_link{
	 width: 70%;
}
/* ----------------end show - divs ------------------------- */

/* ------------------- menue------------------------------- */
#menu {
	float: right;
	margin-bottom: 1em;
}
#menu ul{
	list-style:none ! important;
}
#menuend, .menuend{
	float:none;
}

#main_menu {
	margin: 0 0 0 0;
	height: 19px;
	list-style:none !important;
	z-index:4;
}
ul#main_menu li, #sub_menus ul li  {
	float:right;
	margin:0 0 0 0;
	padding-right: 5px;
	padding-left: 5px;
	height: 19px;
}

#sub_menus {
	margin: 0 2px 0 0;
	height: 0px;
	z-index: 2;
}
#sub_menus ul {
	height: 19px;
	list-style:none ! important;
	z-index: 2; /*selecting links over the "data"-pane works so*/
}
/* -----------------end menue ------------------------------ */


/* ----------------------- typography ---------------------- */

/* --  Headlines -- */
h1 {
	margin: 0.2em 0em 0.6em 0em;
	/*both set to zero and padding in header div is used intead to deal with 
	compound ie pc problems that are beyond summary in a simple comment.*/
}
h2 {
	font-size: 1.7em;
	margin: 0.2em 0em 0.6em 0em;
	float: none;
	}
h3 {
	font-size: 1.4em;
	margin: 0.2em 0em 0.6em 0em;
	float: none;
}
h4 {
	font-size: 1.2em;
	margin: 0.2em 0em 0.6em 0em;
}
h5 {
	font-size: 1.0em;
	margin: 0.2em 0em 0.6em 0em;
	}
h6 {
	font-size: 0.8em;
	margin: 0.2em 0em 0.6em 0em;
}

img {
	border: 0;
}

/* --------------------end typography ---------------------- */

/* ---------------------system styles ---------------------- */
.sys_msg {
	 margin: 15px 0px 15px 0px;
	 font-size: 1em;
	 display: block;
	 width: 90%;
	 /*max-width: 500px;*/
}
#template_msg {
	width: 96% !important;
}

/* -----------------end system styles ---------------------- */



/* ------------------- predefined divs --------------------- */

/* in editing */
table tr.edit td.last_edited_label {
	 margin: 0px 30px 0px 30px;
	 width: 16em;	/*that's 24*0.75*/
}
#search, #toc {
	margin-top: 5px;	/*display:block will require too much*/
	position:relative;
	width: 350px;
}
#search{ margin-bottom:0px;}
#toc{ margin-top: 2px;}

#toc_content,#toc_content_link,#search_content_link,#search_content, #toc .group{
	margin-top:0;
}

#toc_content_link_nester, #search_content_link_nester{
	padding-left: 5px;
}
#toc_content_link,  #search_content_link {
	display:block; 
	padding-right: 4px;
}

#toc .link{
	padding-left: 1em;
}

#searchbox{
    text-align:center;
    margin-top: 5px;
    margin-bottom: 20px;
    padding-bottom:3px;
}


#search fieldset {
	border: 0;
}

.search_option {
	margin-bottom: 4px;
}

#search .submit {
	display: inline;
}

#no_tables_warning{
	z-index: 100;
}

/* ----------------end predefined divs --------------------- */

/*  ---------------------- forms --------------------------- */

#edit_form {
	width: 750px !important;
	float: none;
	border-width: 1px;
}

#edit_form table{
	width: 750px !important;
}

#commentform { 
	margin-top: 20px;
    width: 500px;
    padding: 5px;
}

#edit_form, #edit_form fieldset{
	width: 100%;
}

#edit_form fieldset table tr td.data{
	width: 100%;
}

#edit_form fieldset table tr td.label{
	min-width: 170px;
}

.form_submits{
	width: 100%;
	display: inline;
	margin: 0px 2px 0px 0px;
}

form.edit input, form textarea, form button { 
	padding:2px; 
}

button {
	margin-right: 5px;
}

#login_form{
	margin-top: 30px;
}

/*  -------------------end forms --------------------------- */

/*  ---------------------- comments --------------------------- */
#comments .show_entry, #comments .show_entry_with_options{
	margin-top: 5px;
}
#comments  div.label, #comments div.value{
	display:inline !important;
}

/*  -------------------end comments --------------------------- */

