/*kommt nur zum Einsatz fuer Browser ie5 oder hoeher fuer fixed navi + siteinfo
Danke an Fabrice Pascal - http://www.fabrice-pascal.de/artikel/posfixedie6/*/
/*zur Zeit MS only*/
/*body {
	overflow-y: hidden; 
}*/

#header {
	height: 135px !important; /*IE counts borders extra*/
}

#title {
	width: 800px !important;
}
#data, #data_admin, #impressum {
	width: 800px; /*IE counts borders extra*/
}
#sidepane, #sidepane * {
	width: 235px !important;
}

div.show_entry div div.value, 
div.show_entry div div.value:hover, 
div.show div.date span.value:hover { border:0;}
div.show_entry div.title,
#sidepane div.description{ 
	height: 23px !important;
	border: 0px !important;
}

#mainpane {
	width: 510px !important;
	overflow:hidden;
}

#main_menu {
	top:92px;
	width: 799px !important;
}
#sub_menus { 
	position: relative; top: 97px; left: 0px;
}
#sub_menus ul {
	margin-left: 0px;
}
ul#main_menu li a:hover, #sub_menus li a:hover {
	/*a fix I don't know the reason for...*/
	width: 0px;
	white-space: nowrap;
}

.search_toggle a {
	text-decoration: none !important;
	width: 20px !important;
}

h1{
	line-height: 1.7em;
}
h2{
	line-height: 1.4em;
}
/* ----------------------------------------------- */
