
@import url("../../maps/classic.css");	/* map */

body, p, a, li, blockquote, h1, h2, h3{
	font-family: verdana, sans-serif, arial, helvetica;
	line-height: 140%;
}


/* ----- content formats ----- */

h1{
	font-family: georgia, garamond, times, serif;
	font-size: 14pt;
	font-weight: bold;
	font-variant: small-caps;
	letter-spacing: 3pt;
	word-spacing: 3pt;
	color: #666;
}

h2{
	font-family: georgia, garamond, times, serif;
	font-size: 20pt;
	font-weight: bold;
	font-variant: small-caps;
	letter-spacing: 3pt;
	word-spacing: 3pt;
	color: #f80;
}


a{
	color: #e57c00;
	text-decoration: none;
}
/*
a:visited{ not sure on "visited": sometimes it is helpful, does not look very good, though 
	color: #999
}
*/

a:hover, a:focus{
	color: #84a0b9;
}

ul{
	list-style-image: url(./pics/li.gif);
}

blockquote
{
	background: url(pics/qoute.gif) 0px 0px no-repeat;
	font-style: italic;
	padding: 1px 0px 1px 20px;
	margin: 0px 20px 0px 20px;
}

blockquote p { margin: .7em 0; }




/* ----- layout ----- */

body {
	margin: 20px 0px;
	color: #000; /*a lighter black for text...*/
    background: url(pics/bg.gif) center top repeat;
}

#top{
    height: 26px;
    background: url(pics/maintop.gif) no-repeat;
}

#container{
		/*jpg runs with better performance than a gif!*/
	background: url(pics/mainmid.gif) center repeat-y;
	width:800px !important;
}

#bottom{
    height: 25px;
    background: url(pics/mainbot.gif) center bottom no-repeat;
}

#header {
    padding-bottom: 0px;
}

#title {
    padding: 0px 20px 0px 20px;
	text-align: right;
}
#title span a {
    font-size: 2em;
    font-family: helvetica;
	font-weight: 800;
}

#data, #data_admin, #data_gallery {
	margin-top: 70px;
	padding-top: 0px !important;
	margin-left: 20px;
	margin-right: 20px;
}

#data_admin{
	margin-top: 30px;
	border-top: 1px solid #ccc;
	width:750px!important;
}

#sidepane, #mainpane, .show_entry, .show {
	margin-top: 0px !important;
	padding-top: 0px !important;
}

#sidepane{
	margin-right:35px;
	width: 200px;
}

#mainpane, .show, .show_entry, .show_entry_with_options{
	margin-left: 0px !important;
	padding-left: 0px !important;
	padding-right: 0px !important;
}


/* ----- menus ----- */
#main_menu{
    margin-top: 2.5em;
    margin-right: 1em;
}

#main_menu li{
    border-bottom: 1px solid #aaa;
}
	
#main_menu li a, #sub_menus ul li a{
    text-decoration:none;
    color: #98b7d1;
}


#sub_menus {
	margin: 2px 1em 0px 0px;
}

#sub_menus ul{
	margin: 2px 0px 0px 0px;
}

/* hovering and here */
#main_menu li:hover, #main_menu li.here, #sub_menus li:hover, #sub_menus li.here {
	background-color: #84a0b9;
}
#main_menu li:hover a, #main_menu li.here a, #sub_menus li:hover a, #sub_menus li.here a {
	color: #fff !important;
}



/* ----- sidepane ----- */

#searchbox, #intro, #feeds{
	border-top: 1px solid #ccc;
	margin-top: 14px;
}

#searchbox{
	border-top: 2px solid #ccc;
	margin-top:0px;
	padding-bottom: 0px;
	text-align: center;
}

#intro{
	padding: 0px 5px;
}

#intro, #intro a{
	font-size: 11pt;
	text-align: justify;
	line-height: 115%;
	color: #666;
}

#intro a{
	color: #e57c00;
	text-decoration: none;
}

#intro a:hover, #intro a:focus{
	color: #84a0b9;
}	

#searchbox .description,  #intro .description, #feeds .description a{
	padding: 8px 0px 4px 0px;
	margin-top:0px !important;
	text-decoration:none;
	font-weight: bold;
	font-size: 9pt;
	letter-spacing: .5pt;
	word-spacing:2pt;
	font-family: georgia, garamond,times,serif;
	color: #84a0b9;
	text-align: center;
}


#feeds{
	padding: 0px 10px 15px 10px;
	border-bottom: 2px solid #ccc;
}

#feeds .entry {
	padding-left: 15px;
	background: url(./pics/feed-li.gif) top left no-repeat;
	line-height: 100%;
	margin-bottom: 2px;
}



#feeds .entry a {
	font-size: 9pt;
	color: #84a0b9
}

#feeds .entry a:hover, #feeds .entry a:focus, #feeds .description a:hover, #feeds .description a:focus {
	color: #e57c00;
}

/* ----- entries ----- */

#search{
	border-top: 2px solid #ccc;
	margin-left: 0px;
	margin-top: 0px;
	width: 510px;
}

.search_option{
	display: inline;
	margin-right: 18px;
}

#toc{
	margin-bottom: 30px;
}

#toc, #toc a, #search, #search a{
	font-size: 10pt;
}

#search a, #toc a, .admin_link a {
	color: #84a0b9;
	text-decoration: none;
}

#search a:hover, #search a:focus, #toc a:hover, #toc a:focus, .admin_link a:hover, .admin_link a:focus{
	color: #e57c00;
}

.title{
	padding: 25px 0px;
    margin-top: 0px;
    margin-bottom: 0.7em;
    border-top: 2px solid #ccc;
    border-bottom: 1px solid #ccc;
	text-align: center;
}

.entry_title_link{
	margin-top:0px !important;
	text-decoration:none;
    color: #999;
	font-weight: bold;
	font-size: 12.5pt;
	letter-spacing: .5pt;
	word-spacing:2pt;
	font-family: georgia, garamond,times,serif;
}

a.entry_title_link:hover{
	color: #84a0b9;
}

.show_entry, show_entry_with_options{
	margin:0px;
	margin-bottom: 20px;
	text-align:justify;
	padding-top: 0px !important;
	margin-top: 0px !important;
}

/* ----- system ----- */
#admin_options{
	margin-bottom:30px;
}

.sys_msg {
    color: #aaa;
    border: 1px solid #84a0b9;
    margin: 0px 0px 10px 0px;;
    padding: 5px;
}


/* ----- admin ----- */

fieldset{
	width: 700px !important;
}

#edit_form table{
	margin-left: 10px !important;
	width: 600px !important;
}

td.data{
	width: 430px !important;
}

td.label{
	margin-left: 100px !important;
}

.list_entry{
	margin-top:20px;
}

.adop{
	float: left;
	width: 80px;
	margin-top:10px;
}

#data_admin .title{
	text-align: left;
	padding: 5px 0px;
}

/* ---- comments ----- */
#comments .show_entry_with_options, #comments .show_entry{
    font-size: .7em;
    border: 1px solid gray;
    margin-top:20px;
}

.comment_prefix, ._sys_comments_comment .label {
    color: #84a0b9;
}

._sys_comments_comment .value {
    font-size: 1.2em;
}

