
@import url("../../maps/classic.css");	/* map */

body, p, a, li, blockquote, h1, h2, h3{
	font-family: verdana, sans-serif, arial, helvetica;
	line-height: 140%;
}





/* ----- content formats ----- */

a {
	color: #84a0b9;
	text-decoration: none;
}

a:visited{ /*not sure on "visited": sometimes it is helpful, does not look very good, though */
	color: #999
}


a:hover, a:focus, #feeds .description a:hover, #feeds .description a:focus{
	color: #666;
}






body {
	margin: 20px 0px;
	color: #123; /*a lighter black for text...*/
    background: url(pics/bg.gif) center top repeat;
}

#top{
    height: 26px;
    background: url(pics/maintop.gif) center top no-repeat;
}

#container{
		/*jpg runs with better performance than a gif!*/
		background: url(pics/mainmid.gif) center repeat-y;
}

#bottom{
    height: 25px;
    background: url(pics/mainbot.gif) center bottom no-repeat;
}

#header {
    padding-bottom: 0px;
}

#title {
    padding: 0px 20px 0px 20px;
	text-align: right;
}
#title span a {
    font-size: 2em;
    font-family: helvetica;
	font-weight: 800;
}

#data {
	margin-top:50px;
	padding-top: 0px !important;
}

#sidepane, #mainpane, .show_entry, .show {
	margin-top: 0px !important;
	padding-top: 0px !important;
}

#sidepane{
	margin-right:15px;
	width: 220px;
}

/* ----- menus ----- */
#main_menu{
    margin-top: 1.5em;
    margin-right: 1em;
}

#main_menu li{
    border-bottom: 1px solid #aaa;
}
	
#main_menu li a, #sub_menus ul li a{
    text-decoration:none;
    color: #98b7d1;
}

#sub_menus ul{
	margin: 2px 0px 0px 0px;
}

/* hovering and here */
#main_menu li:hover, #main_menu li.here, #sub_menus li:hover, #sub_menus li.here {
	background-color: #84a0b9;
}
#main_menu li:hover a, #main_menu li.here a, #sub_menus li:hover a, #sub_menus li.here a {
	color: #fff !important;
}



/* ----- sidepane ----- */

#searchbox {
    margin-bottom: 0.5em;
	padding-bottom: 13px;
    border-top: 2px solid #ccc;
    border-bottom: 1px solid #ccc;
	text-align: center;
}

#searchbox .description{
	padding: 8px 0px 0px 0px;
	margin-top:0px !important;
}

#feeds{
	padding: 10px;
	border-bottom: 2px solid #ccc;
}

#feeds .entry {
	padding-left: 15px;
	background: url(./pics/feed-li.gif) top left no-repeat;
	line-height: 120%;
	margin-bottom: 3px;
}

#feeds .entry a {
	font-size: 9pt;
}

#searchbox .description, #feeds .description a{
	text-decoration:none;
	font-weight: bold;
	font-size: 9pt;
	letter-spacing: .5pt;
	word-spacing:2pt;
	font-family: georgia, garamond,times,serif;
	color: #84a0b9;
	text-align: center;
	padding-bottom: 4px;
}





/* ----- headings ----- */
#title a, #feeds .description a, .label{
	text-decoration:none;
    color: #84a0b9;
	font-weight: bold;
}

#feeds .description{
    margin-top: 1.5em;
    margin-bottom: 0.5em;
    border-top: 2px solid #ccc;
    border-bottom: 1px solid #ccc;
	text-align: center;
}



/* ----- entries ----- */

.title{
	padding: 25px 0px;
    margin-top: 0px;
    margin-bottom: 0.7em;
    border-top: 2px solid #ccc;
    border-bottom: 1px solid #ccc;
	text-align: center;
}

.entry_title_link{
	margin-top:0px !important;
	text-decoration:none;
    color: #999;
	font-weight: bold;
	font-size: 12.5pt;
	letter-spacing: .5pt;
	word-spacing:2pt;
	font-family: georgia, garamond,times,serif;
}

a.entry_title_link:hover{
	color: #84a0b9;
}

.show_entry{
	margin:0px;
	margin-bottom: 20px;
	text-align:justify;
	padding-top: 0px !important;
	margin-top: 0px !important;
}

/* ----- system ----- */
.sys_msg {
    color: #aaa;
    border: 1px solid #944;
    margin: 5px;
    padding: 5px;
}




/* ----- blockquote ----- */
blockquote
{
	background-image: url(pics/qoute.gif);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	font-style: italic;
	padding-top: 1px;
	padding-right: 0;
	padding-bottom: 1px;
	padding-left: 20px;
	margin-top: 0;
	margin-right: 20px;
	margin-bottom: 0;
	margin-left: 20px;
}

blockquote p { margin: .7em 0; }




/* ----- ppcustoms ----- */


.bugs_inputdate .label, .bugs_author .label, .bugs_priority .label, .bugs_version .label, .bugs_title .label, 
.bugs_inputdate .value, .bugs_author .value, .bugs_priority .value, .bugs_version .value, .bugs_title .value {
display          : inline;
margin-bottom	 : 5px;}

.bugs_priority, .bugs_version {
float           : left;
width		: 170px;
padding-right	: 15px;
margin-right	: 30px;
border-right	: 1px solid #ccc;}

.bugs_title {
margin		: 10px 0px 8px 0px;}

.options{
margin-bottom	: 50px;}

.bugs_inputdate{
	border-bottom: 1px solid #ccc;
}

.bugs_description{
	margin-right: 5px;
}



#title{
	display: none;
}

#main_menu{
	margin-top: 0em;
}

#top{
    height: 99px;
    background: url(pics/logo.jpg) top center no-repeat;
}

#bottom{
    background-repeat: no-repeat;
    margin-bottom: 20px;
}
