body {
	margin: 0px 0px !important;
}

#data, #data_admin, #data_gallery {
    margin-top: 0px !important;
    margin-left: 0px !important;
	margin-right: 0px !important;
}

#data_admin{
	margin-top: 0px !important;
}


#sidepane{
	margin-right:0px !important;
}
