/*these styles are needed for basic functioning of the application*/

#pup {
	position                : absolute;
	width                   : 375px;
	padding                 : 5px;
	margin                  : 25px auto auto 10px;
	font-size               : 11pt;
	color                   : #fff;
	background-image        : url(pics/bg-pup.png);
	font-family             : "courier new", tahoma, verdana, arial, sans-serif;
	font-weight             : bold;
	text-align              : left;
	border                  : 2px solid #333;
	z-index                 : 200; /* aaaalways on top*/
}

a.help{
	text-decoration: none;
	background: transparent url(pics/help.gif) top left no-repeat;
}

.search_toggle a {
	text-decoration: none;
	width: 100%;
	background: transparent url(pics/no.gif) top right no-repeat;
}

.list_pic a img{
	border: 0;
}

.comment_prefix {padding: 5px;}

/*should be overwritten if it doesn't fit your skin, but better than nothing*/
.high{
	border: 1px solid #6ee;
}

#feedbox, .filler {
	border: 1px solid grey;
	padding-left: 3px;
	margin-right: 3px; 
	background-color:#bcb;
	color: #434;
}
.filler{
	padding: 3px;
	margin-bottom: 7px;
	width: 500px;
}
.filler a{
	color: blue;
}